/* LoginForm.css */
.center {
  margin: 5rem auto; /* Adjust margin as needed */
  padding: 0 2rem; /* Adjust padding as needed */
  max-width: 575px; /* Adjust max-width as needed */
  background: #ffffff;
  border-radius: 20px;
  border: 5px solid #ff922b;
}

.center h2 {
  text-align: center;
  padding-bottom: 2rem; /* Add padding bottom for spacing */
  color: #ff922b;
  font-size: 2rem;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
  font-family: Inter;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ff922b;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #ff922b;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.txt {
  width: 100%;
  padding: 0.5rem 0 1rem, 0;
  height: 40px;
  font-size: 0.8rem;
  border: none;
  background: none;
  outline: none;
  text-align: left;
}

input[type="submit"] {
  display: block;
  margin: 1rem auto 1rem auto; /* Center the button */
  padding: 1rem 2rem; /* Adjust padding as needed */
  background-color: rgba(255, 146, 43, 0.3);
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  border-color: #ff922b;
  opacity: 80%;
  transition: 0.5s;
}

/* @media (max-width: 84em) {
  .center {
    max-width: 80%;
  }
}

@media (max-width: 75em) {
  .center {
    max-width: 85%;
  }
}

@media (max-width: 59em) {
  .center {
    max-width: 90%;
  }
}

@media (max-width: 44em) {
  .center {
    max-width: 95%;
  }
}

@media (max-width: 34em) {
  .center {
    max-width: 100%;
  }
} */
